@use "variables" as *;

html {
  background-color: $darkblue;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  // flex-direction: column;
  text-align: center;
  align-content: center;
  background-color: $darkgrayblue;
  width: 28rem;
  min-height: 12rem;
  border-radius: 1rem;
  padding: 2rem;
  z-index: 1;
  // overflow: hidden;
}

.advice__header {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 5px;
  color: $neongreen;
  font-family: $manrope;
  margin-bottom: 0;
}

.container.animate {
  animation-name: slideAndCenter;
}

@keyframes slideAndCenter {
  0% {
    transform: translateX(-25%); /* Start from the left (fully hidden) */
  }
  50% {
    transform: translateX(25%); /* Move to the center */
  }
  100% {
    transform: translateX(0%); /* Return to the left (fully hidden) */
  }
}

.advice__text {
  animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease-in-out; /* Animation timing function */
  animation-iteration-count: 1; /* Animation iteration count (1 for one direction) */
  animation-fill-mode: forwards; /* Keep the final state of the animation */
}

.container {
  animation-duration: 1s; /* Animation duration */
  animation-timing-function: ease-in-out; /* Animation timing function */
  animation-iteration-count: 1; /* Animation iteration count (1 for one direction) */
  animation-fill-mode: forwards; /* Keep the final state of the animation */
}

/* Apply the animation to the text when the button is clicked */
.advice__text.animate {
  animation-name: slideAndCenter;
  opacity: 1;
}

.advice__text {
  display: flex;
  font-family: $manrope;
  color: lightcyan;
  font-size: 1.75rem;
  font-weight: 800;
  justify-content: center;
}

.img__divider {
  margin-bottom: 2rem;
}

.btn {
  position: absolute;
  place-content: center;
  left: 50%;
  bottom: -2rem;
  z-index: 2;
  transform: translateX(-50%);
  cursor: pointer;
}

.btn:hover {
  border-radius: 50%;
  box-shadow: -0.5px -0.5px 20px 10px hsla(150, 100%, 66%, 0.33);
}

.btn__image {
  background-image: $neongreen;
}

.next__btn {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border: 1rem none $neongreen;
  border-radius: 50%;
  outline: none;
  background-color: $neongreen;
  transition: transform 0.15s;
  z-index: 3434;
}

.next__btn:active {
  transform: scale(0.9);
}

.footer {
  color: rgb(221, 215, 215);
  font-size: 0.9rem;
  font-family: $manrope;
  padding-top: 4rem;
}

.footer a {
  color: $neongreen;
}

.footer a:hover {
  cursor: pointer;
  color: hsl(150, 51%, 44%);
}
