@use "variables" as *;

html {
  background-color: $darkblue;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
  // flex-direction: column;
  text-align: center;
  align-content: center;
  background-color: $darkgrayblue;
  width: 28rem;
  min-height: 12rem;
  border-radius: 1rem;
  padding: 2rem;
  // overflow: hidden;
  z-index: 1;
}

.advice__header {
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 5px;
  color: $neongreen;
  font-family: $manrope;
  margin-bottom: 0;
}

.advice__text {
  display: flex;
  font-family: $manrope;
  color: lightcyan;
  font-size: 1.75rem;
  font-weight: 800;
}

.img__divider {
  margin-bottom: 2rem;
}

.btn {
  position: absolute;
  place-content: center;
  left: 50%;
  bottom: -2rem;
  z-index: 2;
  transform: translateX(-50%);
  cursor: pointer;
}

.btn__image {
  background-color: $neongreen;
}

.next-btn {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border: 1rem none $neongreen;
  border-radius: 50%;
  background-color: $neongreen;
}

.footer {
  color: rgb(221, 215, 215);
  font-size: 0.9rem;
  font-family: $manrope;
  padding-top: 4rem;
}

.footer a {
  color: $neongreen;
}

.footer a:hover {
  cursor: pointer;
  color: hsl(150, 51%, 44%);
}
