$lightcyan: hsl(193, 38%, 86%); // words
$neongreen: hsl(150, 100%, 66%); // button?
$grayblue: hsl(217, 19%, 38%); // underline under words
$darkgrayblue: hsl(217, 19%, 24%); // container color
$darkblue: hsl(218, 23%, 16%); //background color
$manrope: "Manrope", san-serif;
